body {
  font-family: "Source Sans Pro", serif; }

.background-image {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.table {
  display: table;
  width: 100%;
  height: 100%; }
  .table .table-cell {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; }

a {
  color: #d98e1f;
  -webkit-transition: color 320ms ease;
  -moz-transition: color 320ms ease;
  -ms-transition: color 320ms ease;
  -o-transition: color 320ms ease;
  transition: color 320ms ease; }
  a:hover, a:focus {
    color: #875a17;
    text-decoration: none; }

.blogastic-header-top {
  background-color: #4c4c4c;
  padding-top: 5px;
  padding-bottom: 5px; }
  .blogastic-header-top-content {
    color: white;
    font-size: 0.875em;
    font-weight: 400; }
    .blogastic-header-top-content ul {
      margin: 0;
      padding: 0; }
      .blogastic-header-top-content ul li {
        display: inline-block;
        margin-left: 10px; }
        .blogastic-header-top-content ul li a {
          color: white; }
        .blogastic-header-top-content ul li a:hover, .blogastic-header-top-content ul li a:focus {
          list-style-type: none;
          color: #d98e1f;
          text-decoration: none; }

.header-content {
  border-bottom: 1px solid rgba(133, 133, 133, 0.3);
  padding-bottom: 20px; }
  .header-content .site-logo {
    font-family: "Pacifico", cursive, Arial, serif;
    color: #d98e1f;
    font-size: 4em; }
    .header-content .site-logo i {
      font-size: 1.75em;
      color: #875a17; }
  .header-content .site-description {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
    color: #858585;
    margin-top: 12px; }

.header-img-container {
  display: block;
  height: 320px;
  width: 100%;
  color: white; }
  .header-img-container .title {
    font-size: 1.875em;
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4); }

.navbar-blogastic {
  margin-bottom: 0; }
  .navbar-blogastic li > a {
    font-size: 1.1875em;
    color: #d98e1f;
    font-weight: 700;
    text-transform: uppercase; }
    .navbar-blogastic li > a:hover, .navbar-blogastic li > a:focus {
      color: #875a17;
      background-color: white; }
  .navbar-blogastic .dropdown-menu > li > a {
    font-size: 1em; }
  .navbar-blogastic .dropdown-menu > .active > a, .navbar-blogastic .dropdown-menu > .active > a:focus, .navbar-blogastic .dropdown-menu > .active > a:hover {
    background-color: white;
    color: #875a17; }
  .navbar-blogastic a.dropdown-toggle:hover, .navbar-blogastic a.dropdown-toggle:focus,
  .navbar-blogastic .open > a, .navbar-blogastic .open > a:focus, .navbar-blogastic .open > a:hover {
    background-color: white; }
  .navbar-blogastic .active > a, .navbar-blogastic .active > a:focus, .navbar-blogastic .active > a:hover {
    color: #875a17; }
  .navbar-blogastic .navbar-nav {
    display: inline-block;
    float: none; }
  .navbar-blogastic .navbar-collapse {
    text-align: center; }
  .navbar-blogastic .navbar-toggle {
    background-color: white; }
    .navbar-blogastic .navbar-toggle .icon-bar {
      background-color: #875a17; }

.footer-container {
  background-color: #4c4c4c;
  padding-bottom: 15px; }
  .footer-container a, .footer-container a:hover, .footer-container a:focus {
    display: inline-block;
    margin: 5px; }
  .footer-container a, .footer-container .footer-title {
    color: white; }
  .footer-container a:hover, .footer-container a:focus {
    color: #d98e1f; }
  .footer-container .footer-content {
    color: #d98e1f; }
  .footer-container .image-container {
    width: 100%;
    max-height: 300px;
    margin: 15px 0;
    padding: 0;
    text-align: center; }
    .footer-container .image-container img {
      max-height: 220px; }
  .footer-container blockquote {
    border-left: 3px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
    padding-left: 25px; }
  .footer-container blockquote:before {
    display: block;
    height: 0;
    content: "\201D";
    margin-left: -0.7em;
    font: italic 200%/1 "Source Sans Pro", serif;
    color: rgba(255, 255, 255, 0.5); }
  .footer-container cite {
    color: white; }
  .footer-container .blogastic-username > a:first-child {
    margin-left: 15px; }
  .footer-container .ajax-contact input, .footer-container .ajax-contact textarea, .footer-container .ajax-contact button {
    background-color: transparent;
    border-color: #d98e1f;
    color: #d98e1f; }
  .footer-container .ajax-contact #form-messages {
    font-size: 0.875em; }
  .footer-container .ajax-contact .error {
    color: red; }

.blogastic-base-conainer {
  background-color: #fafafa; }

.blogastic-posts-container .entry-header {
  position: relative; }
  .blogastic-posts-container .entry-header .category-meta {
    position: absolute;
    bottom: -32px;
    left: 0;
    right: 0; }
.blogastic-posts-container article {
  background-color: white;
  margin: 75px 0;
  -webkit-box-shadow: 0 0 10px rgba(133, 133, 133, 0.4);
  -moz-box-shadow: 0 0 10px rgba(133, 133, 133, 0.4);
  box-shadow: 0 0 10px rgba(133, 133, 133, 0.4); }
  .blogastic-posts-container article .entry-content {
    padding: 45px 15px 25px; }
  .blogastic-posts-container article .entry-footer {
    padding: 35px 15px 25px; }
.blogastic-posts-container article.blogastic-format-quote {
  background-color: #d8d8d8; }
  .blogastic-posts-container article.blogastic-format-quote .btn-readmore {
    background-color: #d8d8d8; }
.blogastic-posts-container .standard-featured {
  height: 350px;
  width: 100%; }
.blogastic-posts-container .entry-excerpt {
  position: relative;
  border-bottom: 1px solid rgba(133, 133, 133, 0.3);
  padding: 15px 0 40px; }
  .blogastic-posts-container .entry-excerpt p {
    line-height: 1.8em;
    font-size: 1em; }
  .blogastic-posts-container .entry-excerpt .button-container {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0; }

.cat-title-icon {
  margin: auto;
  -webkit-transition: border-color 320ms ease;
  -moz-transition: border-color 320ms ease;
  -ms-transition: border-color 320ms ease;
  -o-transition: border-color 320ms ease;
  transition: border-color 320ms ease;
  width: 80px;
  height: 80px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(76, 76, 76, 0); }
  .cat-title-icon:hover {
    border-color: rgba(76, 76, 76, 0.5); }
  .cat-title-icon a > i {
    font-size: 32px;
    line-height: 80px;
    color: white; }

.btn-readmore {
  font-size: 18px;
  display: inline-block;
  padding: 10px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  background-color: white;
  border: 1px solid rgba(133, 133, 133, 0.3);
  width: 150px; }

a.btn-readmore:hover, a.btn-readmore:focus {
  color: #875a17; }

.blogastic-tags {
  color: #875a17;
  margin-right: 10px; }

.blogastic-comments {
  color: #875a17;
  margin-left: 10px; }

.blogastic-audio-format iframe {
  width: 100%;
  height: 165px; }

.blogastic-carousel-thumb .carousel-control.right, .blogastic-carousel-thumb .carousel-control.left {
  background-image: none; }

.blogastic-pagination {
  font-size: 18px;
  padding: 25px 0 15px;
  background-color: white;
  margin: 50px 0;
  -webkit-box-shadow: 0 0 10px rgba(133, 133, 133, 0.4);
  -moz-box-shadow: 0 0 10px rgba(133, 133, 133, 0.4);
  box-shadow: 0 0 10px rgba(133, 133, 133, 0.4); }
  .blogastic-pagination i {
    color: #875a17;
    margin: 0 10px; }

.link-title a {
  text-decoration: underline; }

.pagination {
  margin: auto;
  width: 100%;
  text-align: center; }

.pagination li a,
.pagination li a:hover,
.pagination li.active a,
.pagination li.disabled {
  color: #fff;
  font-size: 0.875em;
  text-decoration: none; }

.pagination li {
  display: inline-block;
  margin: 0 5px; }

.pagination li a,
.pagination li a:hover,
.pagination li.active a,
.pagination li.disabled {
  background-color: #d98e1f;
  cursor: pointer;
  padding: 0.45em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */ }

.pagination li a:hover,
.pagination li.active a {
  background-color: #875a17; }

.saidbar-container-content {
  margin-top: 75px; }

.blogastic-widget {
  background-color: white;
  margin-bottom: 35px;
  padding: 0 15px 15px;
  -webkit-box-shadow: 0 0 10px rgba(133, 133, 133, 0.4);
  -moz-box-shadow: 0 0 10px rgba(133, 133, 133, 0.4);
  box-shadow: 0 0 10px rgba(133, 133, 133, 0.4); }

.blogastic-widget-title {
  background-color: #4c4c4c;
  color: white;
  padding: 15px;
  margin: 0 -15px 15px;
  font-weight: 300; }

article.single-post {
  background-color: white;
  margin: 75px 0;
  padding: 0 35px 35px;
  -webkit-box-shadow: 0 0 10px rgba(133, 133, 133, 0.4);
  -moz-box-shadow: 0 0 10px rgba(133, 133, 133, 0.4);
  box-shadow: 0 0 10px rgba(133, 133, 133, 0.4); }

.single-post .entry-title {
  background-color: #875a17;
  color: white;
  padding: 25px 15px;
  margin: 0 -35px 35px; }
.single-post .entry-content p {
  margin: 0 0 2em;
  font-size: 17px;
  line-height: 1.6em; }
.single-post .entry-content img {
  max-width: 100%;
  height: auto; }

a.share-link {
  display: inline-block;
  margin-left: 10px; }

.tagcloud a {
  display: inline-block;
  background-color: #fafafa;
  margin: 5px;
  padding: 5px; }

/* 
	Comment section
	------------------------------------------------
*/
.comments-area {
  border-top: 1px solid rgba(133, 133, 133, 0.3);
  margin-top: 40px; }

.last-field {
  margin-bottom: 50px; }

.comment-list {
  padding: 0;
  list-style: none; }

.comment-body {
  padding-bottom: 0; }

.children {
  background-color: white;
  padding-right: 20px;
  padding-left: 20px;
  list-style: none;
  margin-left: 60px; }
  .children .comment-author:before {
    background-color: white; }

.comment-author {
  position: relative;
  display: block;
  font-size: 18px;
  font-weight: 300; }
  .comment-author:before {
    position: absolute;
    content: '';
    display: block;
    top: 10px;
    bottom: 13px;
    left: 40px;
    right: 0;
    background-color: #fafafa;
    z-index: 1;
    border-radius: 4px; }
  .comment-author * {
    z-index: 1;
    position: relative; }
  .comment-author b {
    font-weight: 400; }
  .comment-author .avatar {
    border-radius: 50%;
    margin-right: 10px;
    border: 3px solid white; }

.comment-metadata {
  text-align: right;
  text-transform: uppercase;
  margin-top: -5px;
  font-size: 12px; }
  .comment-metadata a {
    color: #999; }

.comment-content {
  padding: 20px 0;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid #E6E6E6;
  margin-left: 60px; }

.reply {
  text-align: right;
  padding: 5px 0; }

a.comment-reply-link {
  text-transform: uppercase;
  color: #d98e1f; }
  a.comment-reply-link:hover, a.comment-reply-link:focus {
    color: #875a17; }

.comment-respond {
  margin-top: 60px; }

.btn-comment {
  color: white;
  background-color: #d98e1f; }
  .btn-comment:hover, .btn-comment:focus {
    background-color: #875a17;
    color: white; }

.comment-navigation {
  margin-top: 40px;
  padding: 15px;
  border-bottom: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
  background-color: #fafafa; }

/*# sourceMappingURL=blogastic.css.map */
