// Font Variables

$body-font: 'Source Sans Pro' , serif; 
$cursive-font: 'Pacifico', cursive, Arial, serif;

$browser-context: 16; // Default font size

// Colors

$gray-dark: #4c4c4c;
$gray: #858585;
$orange: #d98e1f;//#ffa726;
$orange-dark: #875a17;//#d98e1f;

