.navbar-blogastic{
	margin-bottom: 0;
	li>a{
		font-size: px2em(19);
		color: $orange;
		font-weight: 700;
		text-transform: uppercase;
		&:hover, &:focus {
			color: $orange-dark;
			background-color: white;
		}
	}
	.dropdown-menu>li>a{
		font-size: px2em(16);
	}
	.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
		background-color: white;
		color: $orange-dark;
	}
	a.dropdown-toggle:hover, a.dropdown-toggle:focus,
	.open>a, .open>a:focus, .open>a:hover{
		background-color: white;
	}
	.active>a, .active>a:focus, .active>a:hover {
		color: $orange-dark;
	}
	.navbar-nav {
		display: inline-block;
		float: none;
	}
	.navbar-collapse {
		text-align: center;
	}
	.navbar-toggle{
		background-color: white;
		.icon-bar{
			background-color: $orange-dark;
		}
	}
}